#body {
    width: 100%;
}

body .neutral {
  background-color: white;
}

body .counting {
  background-color: green;
}

body .close {
  background-color: orange;
}

body .overtime {
  background-color: red;
}

#talkdetails {
    display: none;
}

div {
    text-align: center;
    width: 100%;
}

#currentspeaker {
    font-size: 30;
}

#currenttitle {
    font-size: 60;
}

#currentseconds {
    font-size: 120;
}

#talkselect {
    position: absolute;
    bottom: 0;
}
